<form novalidate #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" value="statusService.formData.id" />
    <div class="mb-3">
      <label for="chapterName" class="form-label">Chapter Name <i class="fas fa-info-circle"></i></label>
      <input class="form-control" placeholder="Add Chapter Name" name="chapterName" #chapterName="ngModel"
        [(ngModel)]="storyChapterService.formData.chapterName" required />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content  <i class="fas fa-info-circle"></i></label>
      <textarea class="form-control" placeholder="content..." rows="6" name="content" #content="ngModel"
        [(ngModel)]="storyChapterService.formData.content" required></textarea>
    </div>
    
    <div class="col-md-12 pr-0">
      <button class="btn btn-danger Header" [disabled]="form.invalid" type="button"
        (click)="resetForm(form)">PUBLISH</button>
        <button class="btn btn-primary Header " type="submit" [disabled]="form.invalid">SAVE</button> 
    </div>
  </form>
  <button class="btn btn-primary" type="button" (click)="backToChapter()">Back To Chapter</button>
