<!-- <p>{{storyChapterService.formData | json}}</p> -->
<form novalidate #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" value="statusService.formData.id" />
    
    <div class="content" >
      <div class="mb-3 mt-3" style="width: 756px;">
        <label for="chapterName" class="form-label">Chapter Name <i class="fas fa-info-circle"></i></label>
        <input class="form-control" placeholder="Add Chapter Name" name="chapterName" #chapterName="ngModel"
          [(ngModel)]="storyChapterService.formData.chapterName" required />
      </div>
      <div style="width: 756px;">
        <label for="content" class="form-label">Content  <i class="fas fa-info-circle"></i></label>
        <ckeditor #editor  [editor]="Editor" [config]='config' (change)="onChange($event)" 
          [data]="EditorData">
        </ckeditor>
      </div>
      <div class="mt-3" style="width: 756px;text-align: end;">
        <mat-checkbox class="example-margin" name="endChapter" #endChapter="ngModel" [(ngModel)]="storyChapterService.formData.endChapter" >End Chapter of This Novel</mat-checkbox>
      </div>
      <div class="bottom">
        <div>
          <button class="btn btn-primary" type="button" (click)="backToChapter()"><i class="fas fa-arrow-left"></i>  Back To Chapter</button>
        </div>
        <div>
                <button class="btn btn-danger Header" #publish [disabled]="form.invalid" type="submit" 
                (click)="createPublish(true)"><i class="fas fa-check"></i>  PUBLISH</button>
                <button class="btn btn-primary Header " #save type="submit" [disabled]="form.invalid"
                (click)="createPublish(false)"><i class="far fa-bookmark"></i>  SAVE</button> 
        </div>
      </div>
    </div>
  
</form>
