<mat-accordion >
    <div *ngFor="let chapter of ChapterList;">
        <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon class="material-icons-outlined">comment</mat-icon>
            &nbsp;&nbsp; Chapter. {{chapter.order}}          
        </mat-panel-title>
        <mat-panel-description>
           {{chapter.chapterName | titlecase}}
        </mat-panel-description>
        </mat-expansion-panel-header>
        <app-comment [comments]="comments"
                    [commentChapter]="chapter.id"></app-comment>
    </mat-expansion-panel>
  </div>
</mat-accordion>
