<div class="row">
    <div class="col-md-4">
        <app-news-image [image]="newsService.formData.pictureUrl"
                        (imageChange)="uploadFinished($event)"></app-news-image>
    </div>
    <div class="col-md-8">
      <div class="header">
        <div>
          <h1>Create News</h1>
        </div>
        <div>
          <button type="button" class="btn btn-outline-primary Header" (click)="returnToNewsList()">
            <i class="fas fa-arrow-left"></i> Back to News
          </button>
        </div>
      </div>

    <!-- <p>{{newsService.formData | json}}</p> -->
    <form novalidate #editForm="ngForm" id="Editform" (submit)="onSubmit(editForm)" autocomplete="off">
      <input type="hidden" name="id" value="newsService.formData.id" />
      <div class="mb-3">
        <label for="topic" class="form-label">Topic News <i class="fas fa-info-circle"></i></label>
        <input class="form-control" placeholder="Topic News" name="topic" #topic="ngModel"
          [(ngModel)]="newsService.formData.topic" required />
      </div>
      <!-- <div class="mb-3">
        <label for="content" class="form-label">Content <i class="fas fa-info-circle"></i></label>
        <textarea class="form-control"

          placeholder="Content" rows="8" name="content" #content="ngModel"
          [(ngModel)]="newsService.formData.content" required></textarea>
      </div> -->
      <div style="width: 756px;">
        <label for="content" class="form-label">Content  <i class="fas fa-info-circle"></i></label>
        <ckeditor #editor  [editor]="Editor" [config]='config' (change)="onChange($event)"
          [data]="EditorData">
        </ckeditor>
      </div>

      <div class="col-md-12 pl-1">
        <button class="btn btn-primary" type="submit" [disabled]="editForm.invalid"><i class="far fa-bookmark"></i> SUBMIT</button>
        <button class="btn btn-danger" [disabled]="editForm.invalid" type="button"
          (click)="resetForm(editForm)"><i class="fas fa-eraser"></i> RESET</button>
      </div>
    </form>

  </div>

</div>
