.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px;
  color:black;
}
