

.card{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width:400px;
  padding:0;
  .rank{
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 100px;
    height: 120px;
  }
  .content{
    width:260px;
    padding:10px 10px 0px 10px;
    font-size: 10px;
  }
  h5{
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}
.text{
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

}

