.body p{
    padding-top: 2rem;
    font-size: 1rem;
}
.img{
    width:100%;
    overflow: hidden;
}
.text{
    font-size: large;
}
.mat-card-content{
    padding: 30px;
}
.headline{
    margin-top:1rem;
}