a{
    text-decoration: none;
    color:white;
}
a:hover,
a:active{
    color:lightgray;
}
.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: lighter;
    font-size: 1rem;
}
.nav-caption{
    display:inline-block;
    padding-left: 6px;
}

.dropdown-toggle, .dropdown-item{
    cursor:pointer;
    color:black;
}
:host .dropdown-menu{
    right: 5px !important;
}
img {
    max-height: 40px;
    border:2px solid #fff;
    display: inline;
}
mat-toolbar{
    position: fixed;
    z-index: 999;
    font-weight: lighter;
}
