<mat-toolbar color="primary">
    <!-- <app-nav></app-nav> -->
   <div fxHide.gt-xs>
       <button mat-icon-button (click)="onToggleSidenav()">
       <mat-icon>menu</mat-icon></button>
   </div>
   <div class="mr-5"><img src="{{headlogo}}" (click)="logoClick($event)"></div>
   <div fxFlex="40" fxLayout fxLayoutAlign="flex-start" fxHide.xs> 
     <ul fxLayout fxLayoutGap="10px" class="navigation-items">
       <ng-container *ngIf="accountService.currentUser$|async"> 
              <li >
                <a  routerLink='/members' routerLinkActive='active'><mat-icon >account_circle</mat-icon> Author</a>
              </li>
              
              <!-- <li > 
                <div class="dropdown"  dropdown>
                  <a class="dropdown-toggle ml-2" dropdownToggle ><span><mat-icon>explore</mat-icon>  Browse</span> </a>
                  <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
                     <a  routerLink='/stories' class="dropdown-item"><mat-icon>auto_stories</mat-icon>  Novel</a>
                     <a  routerLink='/manga' class="dropdown-item"><mat-icon>palette</mat-icon>  Manga</a>
                  </div>
               </div>
                
              </li> -->
              <li>
                <a  routerLink='/stories' routerLinkActive='active'><mat-icon>auto_stories</mat-icon>  Novel</a>
              </li>
              <li>
                <a  routerLink='/manga' routerLinkActive='active'><i class="fas fa-hat-wizard"></i> Manga</a>
              </li>
              <li>
                <a  routerLink='/news' routerLinkActive='active'><mat-icon>feed</mat-icon> News</a>
              </li>
              <li>
                <a  routerLink='/chatto' routerLinkActive='active'><mat-icon class="material-icons-round">mode_comment</mat-icon> Chatto</a>
              </li>
              <li *appHasRole='["Admin","Moderator"]' >
                <a  routerLink='/admin' routerLinkActive='active'><mat-icon>settings</mat-icon> Admin</a>
              </li>
       </ng-container>
       <ng-container *ngIf="(accountService.currentUser$|async)===null">
        <li >
          <a  routerLink='/members' routerLinkActive='active'><mat-icon>account_circle</mat-icon> Author</a>
        </li>
        
        <!-- <li >
          <div class="dropdown"  dropdown>
            <a class="dropdown-toggle ml-2" dropdownToggle ><span><mat-icon>explore</mat-icon>  Browse</span> </a>
            <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
               <a  routerLink='/stories' class="dropdown-item"><mat-icon>auto_stories</mat-icon>  Novel</a>
               <a  routerLink='/manga' class="dropdown-item"><mat-icon>palette</mat-icon>  Manga</a>
            </div>
         </div>
          
        </li> -->
        <li>
          <a  routerLink='/stories' routerLinkActive='active'><mat-icon>auto_stories</mat-icon>  Novel</a>
        </li>
        <li>
          <a  routerLink='/manga' routerLinkActive='active'><i class="fas fa-hat-wizard"></i> Manga</a>
        </li>
       </ng-container>
            <!-- <li >
              <a  routerLink='/errors' routerLinkActive='active'>Errors</a>
            </li> -->

     </ul>
     
   </div>
   <div fxFlex="60" fxLayout fxLayoutAlign="flex-end">
       <ul fxLayout fxLayoutGap="0px" class="navigation-items">
        <div class="dropdown" *ngIf="(accountService.currentUser$|async) as user" dropdown>
          <img #person src="{{user.photoUrl|| './assets/user.png'}} " 
          class="img-circle rounded-circle mr-0"
            alt="{{user.username}}">
          <a class="dropdown-toggle ml-2" dropdownToggle ><span fxHide.xs>{{user.knownAs|| user.username |titlecase}}</span> </a>
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a  routerLink='/mystory' class="dropdown-item">
                <mat-icon>
                  create
                </mat-icon> My Novel</a>
                <div class="dropdown-divider"></div>
             <a  routerLink='/library' class="dropdown-item"><mat-icon>bookmarks</mat-icon> Library</a>
             <a  routerLink='/messages' class="dropdown-item"><mat-icon>local_post_office</mat-icon> Messages</a>
             <a  routerLink='/lists'  class="dropdown-item">
              <mat-icon>people</mat-icon> Activities</a>
             <div class="dropdown-divider"></div>
             <a routerLink='/member/edit' class="dropdown-item"><mat-icon>edit_note</mat-icon> Profile</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" (click)="logout()"><mat-icon>input</mat-icon> Logout</a>
          </div>
       </div>
       <!-- <ng-container *ngIf="(accountService.currentUser$|async) as user" >
          <mat-form-field appearance="fill">
            <mat-label><span fxHide.xs>Welcome {{user.knownAs|| user.username |titlecase}}</span>
            </mat-label>
            <mat-select>
              <mat-option >
                <span fxHide.xs>Welcome {{user.knownAs|| user.username |titlecase}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container> -->
       <!-- <form *ngIf="(accountService.currentUser$|async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()"
            autocomplete="off">
            <button class="btn" type="button" (click)="loginWithGoogle()">
              <img src="https://img.icons8.com/color/24/000000/google-logo.png"/>
            </button>
          <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-sm-2" 
            type="text" 
            placeholder="UserName">
          <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2" 
            type="password" 
            placeholder="Password">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
          
        </form> -->
        <div *ngIf="(accountService.currentUser$|async)===null">
          <a routerLink='/authentication/login'> SignIn </a>|
          <!-- <a routerLink='/'> Register</a> -->
          <button class="btn" type="button" (click)="loginWithGoogle()">
            <img src="https://img.icons8.com/color/24/000000/google-logo.png"/>
          </button>
        </div>

       </ul>
      </div>
</mat-toolbar>
