a{
    text-decoration: none;
    color:#585858;
    font-family: 'Montserrat', sans-serif;
}
a:hover,
a:active{
    color:lightgray;
}
.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: lighter;
    font-size: 1rem;
}
.nav-caption{
    display:inline-block;
    padding-left: 6px;
}

.dropdown-toggle, .dropdown-item{
    cursor:pointer;
    color:black;
}
:host .dropdown-menu{
    right: 5px !important;
}
.img-circle {
    max-height: 40px;
    border:2px solid #ffffff;
    box-shadow: 0 0 0 1px #007bff;
    background-clip: content-box;
    display: inline;
}
img {
    max-height: 40px;
    background-clip: content-box;
    display: inline;
}
mat-toolbar{
    position: fixed;
    z-index: 999;
    font-weight: lighter;
}
.mat-toolbar.mat-primary {
    background: #fff;
    color: #007bff;
    box-shadow: 0 0px 4px 0px rgba(0,0,0,0.4);
}
.mat-toolbar.dropdown-toggle {
    color:black;
}
.mat-icon{
    color:#585858;
    vertical-align:middle;
}
button{
    padding-right: 1px;
    padding-left: 1px;
}
