<div class="d-flex flex-row">
    
        <div id="parentDiv" scrollSpy [spiedTags]="['DIV']" 
            (sectionChange)="onSectionChange($event)" style="height:500px;overflow-y: scroll;">
            <div *ngFor="let chapter of chapterList index as i" [attr.Id]='i+1' > 
                <app-show-achapter 
                    [chapter] = 'chapter'
                    [index]='i+1'
                ></app-show-achapter>
            </div>
        </div>

    <div class="scroll-block">
        <!-- <li *ngFor="let list of chapterList index as i "
             [class.active]="(activeFragment | async)===i+1">
             <a [routerLink]='"."' fragment={{i+1}}>{{list.chapterName}}</a>
        </li> -->
        <!-- <li *ngFor="let list of chapterList index as i "
            (click)="scrollTo(i+1)">{{list.chapterName}} 
            <ng-container *ngIf="currentSection===i+1">O</ng-container>
        </li> -->
        <div *ngFor="let list of chapterList index as i"
            (click)="scrollTo(i+1)" 
            [ngClass]="{ 'current-section': currentSection == i+1}">
            {{i+1}} - {{list.chapterName}}
        </div>
    </div>
</div>
        
