<div>
    <!-- <p>{{storyService.formData.imageUrl}}</p> -->
    <img src ="{{coverService.formData.url || './assets/images/default.jpeg'}}" 
        class="img-thumbnail image" loading="lazy" (click)="fileInput.click($event)">
    <div class="upload"><button mat-raised-button (click)="fileInput.click($event)">Upload Picture</button></div>

</div>
    <input #fileInput type = "file" accept="image/png,image/jpeg" class="invisible" (change)="UploadImage(fileInput.files,coverService.formData.id)" >
