<div class="header ">
  <h1>Rainobu Ranking</h1>
  <mat-divider></mat-divider>
  <div class="buttongroup">
      <form #form="ngForm" (ngSubmit)="loadStory()" autocomplete="off">
    <mat-button-toggle-group    class="button-toggle-group"
    [(ngModel)] = 'viewsParams.orderByViews'
    name="orderBy" aria-label="Font Style">
    <mat-button-toggle
        style="width:100%"
        (click)="loadStory()"
        value="weekly">
        Weekly</mat-button-toggle>
    <mat-button-toggle
        style="width:100%"
        (click)="loadStory()"
        value="monthly">
        Monthly</mat-button-toggle>
    <mat-button-toggle
        style="width:100%"
        (click)="loadStory()"
        value="all-time">
        All-time</mat-button-toggle>
    </mat-button-toggle-group>

      </form>
  </div>
</div>

<div class="toprank" *ngIf="listItems">
  <ul>
    <li *ngFor="let rank of listItems.slice(0,3) index as i" class="item">
        <div class="circle">
          <h1>{{i+1}}</h1>
        </div>
        
        <img src="{{rank.imageUrl}}" (click)="Goto(rank.storyName)" loading="lazy">
        <div class="stand" (click)="Goto(rank.storyName)">
          
          <h5>{{rank.storyName | truncate:[18, '..']}}</h5>
          <p class="text">{{rank.description}}</p>
        </div>

    </li>
  </ul>
</div>
<mat-divider></mat-divider>

<div class="second" *ngIf="listItems">
  <ul>
    <li *ngFor="let top of listItems.slice(3,listItems.length) index as i">
        <!-- <img src="{{top.imageUrl}}">
        {{top.storyName}}
        <p class="text">{{top.description}}</p> -->
        <app-card-top [card]="top" [index]='i+4'></app-card-top>
    </li>
  </ul>
</div>
  <!-- <div class="second" *ngIf="listItems">
    <ul>
      <li *ngFor="let top of listItems index as i">
          <app-card-top [card]="top" [index]='i+1'></app-card-top>
      </li>
    </ul>
  </div> -->
