.mat-list-item{
  height: 50px;
}
.mat-form-field
{
  padding: 0;
}
.buttongroup{
  margin-top:50px;
  margin-bottom: 50px;
}
// mat-button-toggle-group {
//   box-shadow: none;
// }
// mat-button-toggle {
//   border: 1px rgba(0,0,0,0) solid !important;
//   margin-top: 5px !important;
//   padding: 0 5px !important;
//   z-index: 3 !important;
// }

// mat-button-toggle:hover {
//   border: 1px #000 solid !important;
//   background-color: red !important;
//   border-radius: 5px !important;
// }
.mat-button-toggle{
  font-size: 1rem;
}
.mat-button-toggle-checked{
  /* background-color: #2979FF; */
  background-color: #757474;
  /* background-color: #ffffff; */
  /* background-color:var(--highlight-toggle2); */
  font-size: 1rem;
  font-weight: bolder;
}
/* .mat-button-toggle-group{

} */
.button-toggle-group{
  box-shadow: none;
  border:solid #eee 1px;
  border-radius:  30px;
  width: 60%;
}
div.mat-expansion-panel-body {
  padding:0;
}
.button-fullwidth{
  display: flex;
  flex-direction:row;
}
.header{

  display: block;
  text-align: center;
}
.toolbarname{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.top-between{
  height: 60px;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  align-items: flex-end;
  /* background-color: #ecf8fd; */
}

.bgtoprank{

  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  height: 422px;
 // background-image:url("../assets/images/Leaderboardwhite.png");
  background-image: url("/assets/images/leaderboardwhite.png");
  background-repeat :no-repeat ;
  background-size:cover;
}
.toprank{
  width : 100%;
}
.toprank > ul {
  display: flex; 
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 20px;
  min-height: 300px;
  height: 100%;
  padding-left: 0;
}
.toprank > ul > li {
  width: 230px;
}
.toprank >ul> li:first-child{
  // padding-top: 4%;
  display: block;
  // align-self: flex-start;
  //position: relative;

  z-index: 1;
}
.toprank >ul> li:nth-child(2){
  // padding-top: 14%;
  display: block;
  // align-self: flex-start;
  z-index: 2;
  // .stand{
  //   border-right: none;
  // }
}
.toprank >ul> li:nth-child(3){
  // padding-top: 18%;
  display: block;
  // align-self: flex-start;
  z-index: 3;
  // .stand{
  //   border-left: none;
  // }
}
.item{
  text-align: center;
}
.item > img{
  margin-top: 0;
  width: 100px;
  height: 125px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}
.stand{
  // border: solid 1px rgb(158, 158, 158);

  width: 100%;
  cursor: pointer;

  h5{
    text-transform: uppercase;
  }
  p{
    font-size: 10px;
  }
}
.second > ul{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
  margin-top: 50px;
  padding-left: 0;
  li{
    list-style: none;
  }
}
.text{
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

/* Small screens */
@media only screen and (max-width: 768px) {
  // .toprank{
  //   background-image: none;
  //   background-repeat :no-repeat ;
  //   background-size:auto;
  //   background-position: bottom;
  // }
  .item{
    margin-top: 10px;
  }
  .toprank > ul {
    flex-direction: column;
    align-items: center;
  }

  .stand{
    border: solid 1px rgb(158, 158, 158);
    padding : 20px 10px 25px 10px;

  }
}

/* Large screens */
@media only screen and (min-width: 768px) {
 
  // .toprank >ul> li:first-child{
  //   order:2;
  // }
  // .toprank >ul> li:nth-child(2){
  //   order:1;
  // }
  // .toprank >ul> li:nth-child(3){
  //   order:3;
  // }

}
