<div class="jumbotron py-2 mb-4">
    <h4 class="display-6 text-center">User Management</h4>
  </div>
<div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search..">
  </div>
<div class="row">
    <table class="table">
        <tr>
            <th style="width: 30%;">UserName</th>
            <th style="width: 20%;">Nickname</th>
            <th style="width: 20%;">Active roles</th>
            <th style="width: 20%;"></th>
            <th style="width: 10%"></th>
        </tr> 
        <tr *ngFor="let user of users | filter:searchText">
            <td>{{user.username}}</td>
            <td>{{user.knownAs}}</td>
            <td>{{user.roles}}</td>
            <td><button (click)="openRolesModal(user)" class="btn btn-info">Edit Roles</button></td>
            <td>
                <app-title 
                     [userId]="user.id"
                     [userName]="user.username"
                     (message)="giveTitle($event)">
                </app-title>
            </td>
        </tr>
    </table>
</div>
