<mat-card class="mat-elevation-z0">
    <div class="main">
        <div class="image">
            <img src="{{row.imageUrl || './assets/images/blackcover.png'}}"
                alt="{{row.storyName}}"
                class="img">

        </div>
        <div class="body">
            <div class="top">
               <h6><b>{{row.storyName| titlecase | truncate:[35, '...'] }}</b>&nbsp;&nbsp;<small class="text-muted">({{row.genre}})</small></h6>
                <p class="text">{{row.description}}</p>
            </div>
            <div class="create text-muted">
                <div>
                    <span>By {{row.userName}}</span>&nbsp;|
                     <small *ngIf="row.lastChapterCreate"
                      class="pl-2">{{row.lastChapterCreate | timeago}}</small>
                </div>
                <div fxLayoutAlign="end">
                    <button (click)="goToDetial(row.storyName)"
                        mat-stroked-button
                        >Detail<mat-icon>chevron_right</mat-icon></button>
                </div>
            </div>
        </div>
        <div class="star">
            <app-star-rating-show
                [rating]="rating"
                [starCount]="starCount"
                [totalRate]="totalRate"
                [color]="starColor"
                [fSize] = "fSize"
                [wSize] = "fSize"
                (ratingUpdated)="onRatingChanged($event)">
            </app-star-rating-show>
        </div>
    </div>
</mat-card>
