<div class="container mt-5">
    <div  class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <img src="./assets/images/logo.png" loading="lazy">
        </div>
            <div *ngIf="!registerMode">
                <p class="lead text-center">
                    From epic tales about a story of a hero being reincarnated into another world to a heroine having fancy tea parties with her friends, Rainobu is home to a large guild of many creative illustrators and writers-- all of whom create new universes weekly. Whether it be web novels, webcomics, or web manga, there's always a new universe waiting for you to explore, full of different characters and stories, and it's all at Rainobu.
                </p>
                        <div class="text-center">
                            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
                            <button (click)="goTo()" class="btn btn-info btn-lg">Learn more</button>
                        </div>
            </div>

    <div class="container" *ngIf="registerMode">
        <div class="col-xl-4 col-md-8 col-sm-10">
            <div class="row justify-content-center">
            <app-register (cancelRegister)="cancelRegisterMode()"></app-register>
        </div>
        </div>
    </div>
</div>