<mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="2000"
        color="primary"
        
        [maintainAspectRatio]="true"
        proportion="60"
    [loop]="true"
    [hideArrows]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false">
    <mat-carousel-slide
        #matCarouselSlide 
        *ngFor="let slide of slides; let i = index"
        [image]="slide.url"
        overlayColor="#00000040"
        [hideOverlay]="false">
    <div class="desc" (click)="gotoUrl(slide.gotoUrl)">
      <h1>{{slide.title | uppercase }}</h1>
      <p>{{slide.descriptions | titlecase}}</p>
      <!-- <button  mat-flat-button
        (click)="matCarouselSlide.disabled = !matCarouselSlide.disabled" >
        Click me!
      </button> -->
      <!-- <button mat-flat-button (click)="gotoUrl(slide.gotoUrl)">
        test
      </button> -->
    </div>
    </mat-carousel-slide>
</mat-carousel> 
