<div *ngIf="showstory">
    <!-- <p>{{showstory | json}}</p> -->
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card">
            <h2>{{showstory.storyName | titlecase}}</h2>
            <ng-container *ngIf="showstory.imageUrl;then first else second"></ng-container>
            <ng-template #first>
                <img src="{{showstory.imageUrl}}"
                loading="lazy" alt="{{showstory.storyName}}" class="card-img-top">
            </ng-template>
            <ng-template #second>
                <img src="./assets/images/blackcover.png"
                loading="lazy" alt="{{showstory.storyName}}" class="card-img-top">
                <div class="text_up">
                    <h4>{{showstory.storyName | titlecase }}</h4>
                </div>
                <div id="benmark">
                    <span>{{showstory.userName}}</span>
                    <h5>&copy; Rainobu</h5>
                </div>
            </ng-template>
        </div>


    </div>
     <div class="col-md-8 pt-2" >
         <div>
            <h2>{{showstory.storyName | titlecase}}</h2>

            <hr/>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="detials">
                <div  >
                    <p><i class="fas fa-list-alt"></i>&nbsp;&nbsp;{{showstory.genre}}</p>
                </div>
                <div >
                    <p><i class="fas fa-compass"></i>&nbsp;&nbsp;{{showstory.getState || 0}}</p>
                </div>
                <div >
                    <p><i class="fas fa-file-alt"></i>&nbsp;&nbsp;{{showstory.totalChapter}} Chapters </p>
                </div>
                <div >
                    <p><i class="fas fa-eye"></i>&nbsp;&nbsp;{{showstory.views}} views</p>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="3rem">
                <div>
                    <!-- <img
                        class="img-circle rounded-circle mr-2"
                        src="{{showstory.userPhoto || './assets/user.png'}}"
                        alt="{{showstory.userName}}">
                    <strong>{{showstory.userName | titlecase}}</strong> -->

                    <app-label-name
                      (username)="gotoMember($event)"
                      [imageUrl]='showstory.userPhoto'
                      [knownAs]='showstory.knownAs'
                      [userName]='showstory.userName'
                      [pHeight]='35'
                      [title]='showstory.title'
                      [point]='showstory.point'>
                    </app-label-name>
                    <!-- <span class="author">Author</span> -->
                </div>
                <div >
                    <b>Created : </b>{{showstory.created | timeago}}
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1rem" class="mt-4">
                <div >
                    <app-star-rating-show [rating]="showstory.rating"
                        [starCount]="starCount"
                        [color]="starColor"
                        [fSize] = "fSize"
                        [wSize] = "fSize"
                        (ratingUpdated)="onRatingChanged($event)"
                        [yourRate]='showstory.yourRate==0?"Please Vote":"Your Rate : "+showstory.yourRate+"/5"'
                    ></app-star-rating-show>
                </div>
                <div class="pt-2" >
                        <p>{{showstory.rating | number:'1.2-2'}} ({{showstory.totalRate}} ratings)</p>
                </div>
                <app-report
                    [reportType]="showstory.storyName"
                    [reportId]="showstory.storyId"
                    (message)="onReport($event)">
                </app-report>
            </div>

            <br/>

        </div>
        <div class="tag pt-2" >
          <mat-chip-list aria-label="tags">
              <mat-chip *ngFor="let ele of tags" (click)="goToTag(ele)">
                  #{{ele}}
              </mat-chip>
          </mat-chip-list>
      </div>
            <div fxLayout="row" fxLayoutAlign="end end" fxHide.xs
                fxLayoutGap="0.2rem" class="buttongroup">

                <button *ngIf="!userHistory"
                    type="button" class="btn btn-primary" [routerLink]="['/stories',storyName,'chapters']">
                    <i class="fas fa-book-open"></i>&nbsp;&nbsp;Read</button>
                <button *ngIf="userHistory"
                        type="button" class="btn btn-primary"
                        [routerLink]="['/stories',storyName,'chapters']" 
                        fragment="{{showstory.fregment}}">
                        <i class="fas fa-book-open"></i>&nbsp;&nbsp;Continue Reading..</button>

                <button *ngIf="!showstory.liked"
                    type="button" class="btn btn-warning"
                    (click)="addLikeStory(showstory)">
                    <i class="fas fa-plus"></i>&nbsp;&nbsp;ADD TO LIBRARY</button>
                <button *ngIf="showstory.liked"
                    type="button" class="btn btn-success"
                    (click)="addLikeStory(showstory)">
                    <i class="fas fa-check"></i>&nbsp;&nbsp;IN LIBRARY</button>
            </div>
            <div fxLayout="column"  fxHide.gt-xs
                fxLayoutGap="0.2rem" class="buttongroupxs">
                <button type="button" *ngIf="!userHistory"
                    class="btn btn-primary" [routerLink]="['/stories',storyName,'chapters']">
                    <i class="fas fa-book-open"></i>&nbsp;&nbsp;Read</button>
                <button *ngIf="userHistory"
                        type="button" class="btn btn-primary"
                        [routerLink]="['/stories',storyName,'chapters']" fragment="{{userHistory.fregment}}">
                        <i class="fas fa-book-open"></i>&nbsp;&nbsp;Continue Reading..</button>

                <button *ngIf="!userLiked"
                    type="button" class="btn btn-warning"
                    (click)="addLikeStory(showstory)">
                    <i class="fas fa-plus"></i>&nbsp;&nbsp;ADD TO LIBRARY</button>
                <button *ngIf="userLiked"
                    type="button" class="btn btn-success"
                    (click)="addLikeStory(showstory)">
                    <i class="fas fa-check"></i>&nbsp;&nbsp;IN LIBRARY</button>
            </div>
        </div>
    </div>
        <!-- <mat-divider></mat-divider> -->

<!-- <p>{{showstory | json}}</p> -->
<!-- <p>{{userHistory | json}}</p> -->

<!-- <tabset class="member-tabset" #storyTab>
    <tab heading='Synopsis' (selectTab)="onTabActivated($event)">
        <div class="row">

        </div>
        <p>{{showstory.description}}</p>
    </tab>
    <tab heading='Table of Contents' (selectTab)="onTabActivated($event)">
        <app-show-table-content [initContent]="initContent"></app-show-table-content>
    </tab>
    <tab heading='Novel Comments' (selectTab)="onTabActivated($event)">
        <app-comment [comments]="comments"></app-comment>
    </tab>
    <tab heading='Chapter Comments' (selectTab)="onTabActivated($event)">
        <app-show-comment-chapter></app-show-comment-chapter>
    </tab>
</tabset> -->

    <mat-tab-group mat-stretch-tabs #tabGroup (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Synopsis" >
            <mat-card-content>
               <p>{{showstory.description}}</p>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Table of Contents" >
            <ng-template matTabContent>
                 <app-show-table-content [initContent]="initContent"></app-show-table-content>
            </ng-template>
        </mat-tab>
        <mat-tab label="Novel Comments" >
            <ng-template matTabContent>
                <app-comment [comments]="comments" *ngIf="user"></app-comment>
                <div class="memberarea">
                    <span><mat-icon>groups</mat-icon></span>
                    <h4 *ngIf="!user">Members’ area</h4>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Chapter Comments" >
           <ng-template matTabContent>
            <app-show-comment-chapter *ngIf="user"></app-show-comment-chapter>
            <div class="memberarea">
                <span><mat-icon>groups</mat-icon></span>
                <h4 *ngIf="!user">Members’ area</h4>
            </div>
           </ng-template>
        </mat-tab>
  </mat-tab-group>
</div>
