.rounded-circle {
    max-height: 35px;
    border:2px solid #e5e7e8;
}

.example-full-width {
    width: 100%;
 }

 #rconners1 {
    border-radius: 10px;
    background: #f3f8fc;
    padding: 10px;
    width: 100%;
    font:0.8em;
  }

  .created {
    justify-self: end;;
    top:0.5rem;
    right:1rem;
    overflow:visible;
}