.rounded-circle {
    max-height: 35px;
    border:2px solid #e5e7e8;
}

.example-full-width {
    width: 100%;
 }

 #rconners1 {
    border-radius: 10px;
    background: #f3f8fc;
    padding: 10px;
    right:1rem;
    font:0.8em;
  }
.main{
  position: relative;
}
.left{
  padding-right: 0.5rem;
  width: 35px;
}
.right{
  padding:2px 0rem 2px 0.2rem;
}
  .created {
    position:absolute;
    justify-content: end;;
    top:0.2rem;
    right:1rem;
}