<ng-container *ngIf="(commentService.commentThread$ | async)?.length > 0">
    <div class="ml-5 pt-0 pb-0 pl-2 pr-2" >
    <div *ngFor="let comment of (commentService.commentThread$ | async);let i =index ">
        <div *ngIf="comment.parentId== commentId" class="commentlist">
            <div class="left">
              <app-label-name
                (username)="gotoMember($event)"
                [pHeight]= '35'
                [imageUrl]='comment.image'
                [userName]='comment.userName'
                [knownAs]='comment.knownAs'
                [title]='comment.title'
                [point]='comment.point'>
            </app-label-name>
            </div>
            <div class="right">
              <div id="rconners1">
                <div id="showtime"><small class="text-muted ">{{comment.created | timeago}}</small></div>
                <p>{{comment.content}}</p>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-button >
                    <like [likeCount]="comment.liked.length"
                        [isActive]="comment.liked.includes(commentService.user.username)"
                        (commentId)="addLike(comment.id)">
                    </like>
                </button>
                <button *ngIf="comment.userName === commentService.user.username"
                  mat-button (click)="onDeleteComment(comment.id)">
                  Remove</button>
                  <button *appHasRole='["Admin"]'
                  mat-button (click)="onDeleteComment(comment.id)">
                  Remove
                </button>
                <app-report *ngIf="comment.userName !== commentService.user.username"
                    [reportType]="'comment'"
                    [reportId]="comment.id"
                    (message)="onReport($event)">
                </app-report>
              </div>
            </div>
        </div>
      </div>
          <app-reply-form [commentId]="comment.id" *ngIf="togglePanel[i]"
            [storyName]='this.storyName'></app-reply-form>
    </div>
</ng-container>
