.Header{
    /* font-size:x-large;
    font-weight: bolder; */
    margin-bottom: 20px;
}
.rounded-circle {
    max-height: 25px;
    border:2px solid #e5e7e8;
}

.Body{
    // min-width: ;
    max-width: 756px;
    //overflow:scroll;
    img{
      width: auto;
    }
}
:host ::ng-deep .image img {
  width: 100%;
}
.mat-card{
    min-height: 100vh;
    // font-family: montserrat;

}
:host ::ng-deep figure {
  margin: 0 !important; 
}