

.card{
  width: 550px;
  height: 180px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: visible;
  position: relative;
  margin: 0.5rem;
}

.card h4 {
  text-align: left;
}

.card .additional {
  position: absolute;
  width: 15%;
  /* width:100%; */
  min-width: 130px;
  height: 100%;
  background: linear-gradient(#2780e3, #7fafe6);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 99;
}


.card:hover .additional {
  width: 550px;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 130px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .genre {
  /* top: 15%; */
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}
.card .additional .user-card .level {
  top: 2%;
  position:absolute;
  width: 100%;
  background: rgba(0,0,0,0.15);
}
.card .additional .user-card .genre {
  top: 85%;
  position:absolute;
  width: 100%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 410px;
  /* float: left; */
  position: absolute;
  left: 140px;
  height: 100%;
}

.card .additional .more-info h4 {
    padding-top: 5px;
  color: #fff;
  margin-bottom: 0;
}

/* .card.green .additional .more-info h1 {
  color: #224C36;
} */

.card .additional .author {
  margin: 0 1rem;
  color: #fff;
  font-size: 0.8rem;
  /* right: 5px; */
  width: 100%;
}

/* .card .additional .coords span + span {
  float: right;
} */

.card .additional .stats {
  padding-top:3px;
  font-size: 1.25rem;
  display: flex;
  position: relative;
  bottom: 1rem;
  color: #fff;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
}
.card .additional .floatright {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
  right: 5px;
  top:autor;
  position:absolute;
}


.card .general {
  width: 410px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 3px;
}
.card .general .synopsis{
  height: 100px;
  overflow: hidden;
}
.card .general .more {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0.9em;
}
.img-thumbnail{
    width:120px;
    height:120px;
    position: absolute;
    top:15%;
    left:5%;
    /* top: 10%; */
    /* margin-top: 50%; */
}
/* .box{ 
    width:400px; 
    height:100%; 
    position:relative; 
    margin-top:30px; } */
.rightCircle{ 
    position:absolute; 
    text-align: center;
    align-items: center;
    width:20px; 
    height:20px; 
    border-radius:50%; 
    color: white; 
    background-color: royalblue;
    right:-10px; 
    top:-10px;
    z-index: 999;
}
.rightCircle :hover{
  cursor: pointer;
}
.icon {
  font-size: 1rem;
  
}