<app-cover fxHide.lt-sm></app-cover>
<!-- <img [lazyLoad]="'https://localhost:4200/assets/images/1.jpg'" />
<img src="https://localhost:4200/assets/images/2.jpg" loading="lazy"/> -->

<div class="row">
  <div class="col-md-7">
    <div *ngIf="slides">
      <app-home-carousel [slides]="slides"></app-home-carousel>
    </div>
    <!-- <div *ngIf="!slides">
        <img src="./assets/images/955ef38c-48d0-488c-b346-e8ae4f1ab935.png">
      </div> -->
    <div class="toprank ">
      <div class="top-between">
        <h4>Popular on RAINOBU</h4>
        <button mat-button color="primary" [routerLink]="['stories/all','novel']">More..</button>
      </div>
      <!-- <h5>Rainobu Top Rank</h5> -->
      <app-show-top-rank [storytop]="topStory"></app-show-top-rank>
    </div>
  </div>
  <div class="col-md-5">
    <div class="">
      <div class="top-between">
        <h4>Rainobu News</h4>
        <button mat-button color="primary" routerLink="/news">More..</button>
      </div>
      <app-news-carousel></app-news-carousel>
    </div>

    <div class="member mt-4">
      <app-member-list-carousel></app-member-list-carousel>
    </div>
    <div class=" mt-4">
      <div class="recent">
        <app-recent-chapter></app-recent-chapter>
      </div>
    </div>

  </div>
</div>
<div class="novel">
  <div *ngIf="rateStory">
    <app-show-carousel [showstory]="rateStory" [storyType]="'novel'">
    </app-show-carousel>

  </div>
  <div *ngIf="rateManga">
    <app-show-carousel [showstory]="rateManga" [storyType]="'manga'">
    </app-show-carousel>
  </div>
</div>