<h4>Stories by {{knownAs |titlecase}}</h4>
<div class="content mt-4 mb-4" >
    <div *ngFor="let story of showstory"  class="item" >
        <app-show-card [story]="story"></app-show-card>
    </div>
</div>
<!-- <mat-paginator *ngIf="pagination"
    [length]="pagination?.totalItems" 
    [pageSizeOptions]="[5]"
    [showFirstLastButtons]="true"
    [pageIndex]="pagination.currentPage-1"
    (page)="pageChanged($event)"
></mat-paginator> -->
<mat-paginator 
  [length]="pagination?.totalItems" 
  [pageSizeOptions]="[10]"
  [showFirstLastButtons]="true"
  (page)="pageChanged($event)">
</mat-paginator>
