<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onClose()">
        <mat-icon>face</mat-icon>
       <span class="nav-caption"> Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()">
        <mat-icon>input</mat-icon>
        <span class="nav-caption" >Login</span></a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/members" (click)="onClose()">
        <mat-icon>account_circle</mat-icon> 
        <span class="nav-caption" >Author</span></a>
    <a mat-list-item routerLink="/stories" (click)="onClose()">
        <mat-icon>auto_stories</mat-icon> 
        <span class="nav-caption" >Novel</span></a>
    <a mat-list-item routerLink="/manga" (click)="onClose()">
        <i class="fas fa-hat-wizard"></i> 
        <span class="nav-caption" >Manga</span></a>  
    <a mat-list-item routerLink="/chatto" (click)="onClose()">
        <mat-icon>mode_comment</mat-icon> 
        <span class="nav-caption" >Chatto</span></a> 
 </mat-nav-list>
