<table width="60%" align="center" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" height="120px">
    <tbody>
        <tr>
            <td align="center" bgcolor="#30b8e9" width="100%" valign="middle">
                <img src="https://localhost:4200/assets/images/headeremail.png"
                 width="383" height="100" class="CToWUd" data-bit="iit">  
            </td>
        </tr>
    </tbody>
</table>
<table align="center" bgcolor="" width="60%" valign="top">
    <tbody>
        <tr>
            <td style="padding-top:2rem">
                <p>Dear ,</p> 
            </td>
        </tr>
        <tr>
            <td>
               <p>Thank you for signing up with Rainobu! 
                  Cheers to the start of our new adventure!! To verify your email please click on the button down below.  
                </p> 
            </td>
        </tr>
        <tr>
            <td>
                <p style="text-align:center;">
                    <!-- <a href='{callback}'>Verify Now</a> -->
                    <button onclick="location.href='{callback}'" 
                        style="border: none;background-color: #30b8e9;                        color: white;
                        padding: 10px 15px;
                        border-radius: 10px;"
                        type="button">
                        Verify Now
                   </button>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                Best Wishes,<br/>
                Rainobu Team
            </td>
        </tr>
    </tbody>
</table>

<img src="https://localhost:4200/assets/images/1.jpg" loading="lazy"/>