<carousel class="carousel-html-content" style="z-index: 2;"
        [height]="'250'"
        [cellsToShow]="'1'"
        [autoplay]="true"
        [loop]="true"
>
    <div *ngFor="let row of newsHome"
        class="carousel-cell" >
        <div class="news">
               <img src={{row.pictureUrl}}  >
                <div class="content" >
                     <!-- <p class="text">{{row.content}}</p> -->
                     <!-- <div [innerHtml] = "news.content | sanitizeHtml" class="text"></div> -->
                     <p class="text">{{row.topic | titlecase }}</p>
                </div>
        </div>
    </div>
</carousel>
<div *ngIf="newsService.list" class="newslist ">
    <div *ngFor="let row of newsHome" class="mt-1">
        <!-- <mat-divider></mat-divider> -->
    <!-- <app-news-card [row]="row"></app-news-card> -->
    <app-news-small-card [row]="row"></app-news-small-card>

</div>
