    <div class="ml-5 mt-2 mb-2 pt-2 pb-2 pl-2 pr-2">
      <form fxLayout="row" 
          (ngSubmit)="onSubmit()" [formGroup]="commentForm">
          <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea formControlName="content" matInput placeholder="Ex. It makes me feel..."></textarea>
                <!-- <mat-error align ="end" *ngIf="commentForm.controls['content'].hasError('required')">Required</mat-error>    -->
          </mat-form-field>
          <mat-action-list fxFlexAlign="center">
            <!-- <button type="button" (click)="onCommentCancel()" mat-flat-button>Cancel</button> -->
            <button type="submit" mat-raised-button [disabled]="commentForm.invalid">Comment</button>
          </mat-action-list> 
      </form>
    </div>
  <app-comment-list></app-comment-list>
