.img-circle {
    /* max-height: 35px; */
    border:1px solid white;
    /* box-shadow: 0 0 0 2px #007bff;;  */
    background-clip: content-box;
    display: inline;
}
.rank{
    display:flex;
    flex-direction: row;
    
}
// .image{
//     padding: 2px;
//     align-self: center;
// }
.image img{
  display: block;
}
// .image .fa-crown{
//   position:absolute;
//   top:-9px;
//   right: -9px;
//   color:gold;
// }
.image{
  position: relative;
}
.image .fa-crown{
  position:absolute;
  top:-9px;
  right: -9px;
  color:gold;
}
.label_name{
    display: flex;
    align-items: baseline;
    margin-left: 5px;
}
.title{
    /* position: relative;
    top:-5px;
    margin-top: 0; */
    display: block;
    padding-top:0px;
    font-size: 0.5rem;
    color:lightslategray;
    line-height: 0;
}
// #crown .fa-crown{
//     position: relative;
//     top:-15px;
//     left: -10px;
//     color:gold;
// }
.fa-rotate-45 {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
}
.label_name{
  padding-left: 0.5rem;
}