<div class="rank">
    <div class="image">
        <img src="{{imageUrl || './assets/user.png'}}" 
        [ngStyle]="{'box-shadow':rank,'height':pHeight+'px'}"
        alt="{{knownAs}}" [matTooltip]="tooltip"
        class="img-circle rounded-circle">
        <i class="fas fa-crown fa-rotate-45" *ngIf="isVIP"></i>
    </div>
    <div class="label_name" *ngIf="knownAs">
        <div class="knownAs"><strong >{{knownAs | titlecase}}</strong>
            <span class="title">{{title}}</span>
        </div>
    </div>
</div>
