
<div class="full-width" fxHide.lt-sm>
    <app-show-slide></app-show-slide>
</div>
<div class="main">
   <div class="recomment" >
      <app-history-carousel></app-history-carousel>
   </div>
</div>
<!--<div class="row" *ngIf="showstory">
    <div class="col-md-3 mt-2 ">
        <ng-container *ngIf="GenreList && storyTypeList">
             <mat-accordion  multi>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Sort
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let sort of sortOptions"
                            (click)="onSortSelected(sort.value)"
                            [ngClass]="{red: sort.value === storyParams.orderBy}">
                            {{sort.name}}
                        </mat-list-item>
                     </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Genre
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                 <mat-list>
                    <mat-list-item *ngFor="let genre of GenreList"
                        (click)="onGenreSelected(genre.description)"
                        [ngClass]="{red: genre.description === storyParams.genre}">
                        {{genre.description}}
                    </mat-list-item>
                 </mat-list>
                </mat-expansion-panel >
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Language
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  <mat-list>
                    <mat-list-item *ngFor="let language of LanguageList"
                    (click)="onLanguageSelected(language.description)"
                        [ngClass]="{red: language.description === storyParams.language}">
                        {{language.description}}
                    </mat-list-item>
                 </mat-list>

                  </mat-expansion-panel >
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Type
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let type of storyTypeList"
                        (click)="onTypeSelected(type.value)"
                        [ngClass]="{red: type.value === storyParams.storyType}">
                        {{type.display}}
                    </mat-list-item>
                 </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
        </ng-container>
    </div>
        <div class="content col-md-9 mt-2 mb-2" >
        <div *ngFor="let story of showstory index as i" class="item" >
            <app-show-card 
                [story]="story"
                [index]="i" 
                [page]="pagination.currentPage" 
                [pagesize]="storyParams.pageSize"
                (refesh)="refesh($event)">
            </app-show-card>    
        </div>
    </div>
</div> 
<mat-paginator *ngIf="pagination"
    [length]="pagination?.totalItems" 
    [pageSizeOptions]="[10]"
    [showFirstLastButtons]="true"
    [pageIndex]="pagination.currentPage-1"
    (page)="pageChanged($event)">
</mat-paginator>-->
<div class="story">
  <app-show-list></app-show-list>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        
        <app-show-view></app-show-view>
    </div>
   <div class="col-md-6">
       <div class="top-between">
        <h3>Random Picks</h3>  
        <button mat-fab color="warn" (click)="randomChild()">Go!</button>
      </div>
      <mat-divider></mat-divider>
       <app-show-list-vertical [random]="random" ></app-show-list-vertical>
   </div>
</div>
<!-- <app-show-carousel></app-show-carousel> -->
