<!-- HTML content -->
<div class="demo" *ngIf="showstory">
    <h4>Hot {{storyType | titlecase}}</h4>
    <carousel #myCarousel class="carousel-html-content" style="z-index: 2;"
        [cellWidth]='150'
        [height]="'280'">
        <div *ngFor="let story of showstory"
            class="carousel-cell">
            <app-show-card
                [story]="story"
                (refesh)="refesh($event)">
            </app-show-card>
        </div>

    </carousel>
</div>

<!-- <div class="demo">
    <h3>Image slider</h3>
    <carousel
        [images]="imagesForSlider"
        [objectFit]="'scale-down'"
        [cellWidth]="'100%'"
        [height]="300"
        [autoplay]="true"
        [dots]="true"
        [loop]="true">
    </carousel>
</div> -->
