 *{box-sizing: border-box;}   
.carousel-html-content .carousel-cell{
    /* background: aliceblue; */
    // background: #484848;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    /* object-fit: cover; */
    flex: 1 0 auto;

}
.carousel {
  // background: #484848;
}

.carousel-cell{
    margin: 0;
    padding: 0;
}

/*
@media all and (min-width: 40em) {
    .list-item {
      width: 50%;
    }
  }
  @media all and (min-width: 60em) {
    .list-item {
      width: 33.33%;
    }
  } */
  