<app-reply-list [commentId]="cId" [storyName]="storyname"></app-reply-list>
<div class="ml-5">
      <form fxLayout="row" 
          (ngSubmit)="onSubmit()" [formGroup]="replyForm">
          <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <input formControlName="content" matInput  autocomplete="off"
                placeholder="Ex. It makes me feel..." />
          </mat-form-field>
          <mat-action-list fxFlexAlign="start">
            <button type="submit" mat-raised-button [disabled]="replyForm.value.content==''">
              <i class="fas fa-paper-plane fa-lg"></i>
            </button>
          </mat-action-list> 
      </form>
    </div>
