<div class="row">
  <div class="col-md-3">
    <!-- <div class="top-between">
      <h5>Feature {{storyParams.storyType | titlecase}}</h5>
      
      <div fxFlexAlign="center end">    
          <button mat-stroked-button color="accent" (click)="resetFilters()">Reset</button>        
     </div>
    </div> -->
    <!-- <h3>Feature {{storyParams.storyType | titlecase}}</h3> -->
    <ng-container *ngIf="GenreList">
      <mat-accordion  multi>
         <mat-expansion-panel class="mat-elevation-z0">
           <mat-expansion-panel-header>
             <mat-panel-title>
               Sort
             </mat-panel-title>
           </mat-expansion-panel-header>
             <mat-list>
                 <mat-list-item *ngFor="let sort of sortOptions"
                     (click)="onSortSelected(sort.value)"
                     [ngClass]="{red: sort.value === storyParams.orderBy}">
                     {{sort.name}}
                 </mat-list-item>
              </mat-list>
         </mat-expansion-panel>
         <mat-expansion-panel class="mat-elevation-z0">
           <mat-expansion-panel-header>
             <mat-panel-title>
               Genre
             </mat-panel-title>
           </mat-expansion-panel-header>
          <mat-list>
             <mat-list-item *ngFor="let genre of GenreList"
                 (click)="onGenreSelected(genre.description)"
                 [ngClass]="{red: genre.description === storyParams.genre}">
                 {{genre.description}}
             </mat-list-item>
          </mat-list>
         </mat-expansion-panel >
         <mat-expansion-panel class="mat-elevation-z0">
             <mat-expansion-panel-header>
               <mat-panel-title>
                 Language
               </mat-panel-title>
             </mat-expansion-panel-header>
           <mat-list>
             <mat-list-item *ngFor="let language of LanguageList"
             (click)="onLanguageSelected(language.description)"
                 [ngClass]="{red: language.description === storyParams.language}">
                 {{language.description}}
             </mat-list-item>
          </mat-list>

           </mat-expansion-panel >
         <mat-expansion-panel class="mat-elevation-z0">
           <mat-expansion-panel-header>
             <mat-panel-title>
               Type
             </mat-panel-title>
           </mat-expansion-panel-header>
         <mat-list>
             <mat-list-item *ngFor="let type of storyTypeList"
                 (click)="onTypeSelected(type.value)"
                 [ngClass]="{red: type.value === storyParams.storyType}">
                 {{type.display}}
             </mat-list-item>
          </mat-list>
         </mat-expansion-panel>
       </mat-accordion>
 </ng-container>
  </div>
  <div class="col-md-9">
    <div class="search-results"
            infinite-scroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="150"
            (scrolled)="onScroll()">
            <!-- <div class="bgHeader">

            </div> -->
            <!-- <div class="top-between">
                <h3>Novel</h3>  
              </div> -->
            <mat-toolbar>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                  </button>
                  <span>Rainobu {{storyParams.storyType | titlecase}}</span>
                  <span class="example-spacer"></span>
                  <!-- <button mat-stroked-button color="accent" (click)="resetFilters()">Reset</button>        
                  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                   <mat-icon>share</mat-icon>
                 </button> -->
                 <div style="font-size: 15px">
                  <mat-form-field appearance="outline" class="searchTerm">
                    <mat-label>Search..</mat-label>
                    <input #search matInput 
                              (keyup.enter)="onSearch()"
                              placeholder="Search">
                      <mat-icon matSuffix (click)="onSearch()" style="cursor: pointer;">search</mat-icon>    
                  </mat-form-field>
                  </div>
                <span>
                  <button mat-icon-button (click)="resetFilters()">
                   <mat-icon>autorenew</mat-icon></button> 
                </span> 
            </mat-toolbar>
        <div class="card-vertical" *ngIf="showstory">
            <div *ngFor="let story of showstory index as i" class="mb-2">
                <app-show-card-all
                    [row]="story">
                </app-show-card-all>
                <!-- <mat-divider></mat-divider> -->
            </div>
        </div>
</div>
<div *ngIf = "!notEmptyPost" class="row pb-5 pt-5">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="text-muted h6 alert alert-dark p-2">No more Story</div>
    </div>
</div>
  </div>
</div>

