<mat-card class="mat-elevation-z0" (click)="goToNews(row.id)">
    <div class="main">
        <div class="image">
            <img src="{{row.pictureUrl || './assets/images/blackcover.png'}}"
                alt="{{row.topic}}"
                class="img">
        </div>
        <div class="body">
            <div class="top">
               <span class="title">{{row.topic | titlecase | truncate:[32, '...']}}</span>
                <!-- <p class="text">{{row.content}}</p> -->
                <div [innerHtml] = "row.content | sanitizeHtml"></div>
            </div>
            <div class="create text-muted">
                <div>
                    <small>{{row.newsCreated | date }}</small>&nbsp;&nbsp;
                    <small>{{row.newsCreated | timeago}}</small>
                </div>
                <!-- <div fxLayout="row" fxLayoutAlign=" end">

                      <a routerLink="/news/{{row.id}}">Read</a>
                </div>  -->

            </div>
        </div>

    </div>
</mat-card>

<!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{row.pictureUrl || './assets/images/blackcover.png'}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{row.topic | titlecase}}</h5>
          <p class="card-text">{{row.content}}</p>
          <p class="card-text"><small class="text-muted">{{row.newsCreated | date }}
            {{row.newsCreated | timeago}}</small></p>
        </div>
      </div>
    </div>
  </div> -->
