<mat-card class="mat-elevation-z0" (click)="goToNews(row.id)">
    <div class="main">
        <div class="image">
            <img src="{{row.pictureUrl || './assets/images/blackcover.png'}}"
                loading="lazy"
                alt="{{row.topic}}"
                class="img">
        </div>
        <div class="body">
            <div class="top">
               <!-- <span class="title">{{row.topic | titlecase | truncate:[32, '...']}}</span> -->
                <p class="text">{{row.headline}}</p>
                <!-- <div [innerHtml] = "row.content | sanitizeHtml"></div> -->
            </div>
            <div class="create text-muted">
                <div>
                    <small>{{row.newsCreated | date }}</small>&nbsp;&nbsp;
                    <small>{{row.newsCreated | timeago}}</small>
                </div>
                <!-- <div fxLayout="row" fxLayoutAlign=" end">

                      <a routerLink="/news/{{row.id}}">Read</a>
                </div>  -->

            </div>
        </div>

    </div>
</mat-card>


