<div class="jumbotron py-2 mb-4">
    <h4 class="display-6 text-center">Rank Details</h4>
  </div>
 <app-rank-form></app-rank-form>
  <table class="table mt-2" >
      <thead>
        <tr>
          <th>Rank Name</th>
          <th>Min Point</th>
          <th>Max Point</th>
          <th>Color</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rankService.list">
          <td (click)="populateForm(row)">{{row.name}}</td>
          <td (click)="populateForm(row)">{{row.minPoint}}</td>
          <td (click)="populateForm(row)">{{row.maxPoint}}</td>
          <td (click)="populateForm(row)">{{row.color}}</td>
          <td>
            <!-- <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(row.id)"></i> -->
            <!-- <button (click)="onDelete(row.id)" class='btn btn-danger'><i class="far fa-trash-alt"></i>Delete</button> -->
            <i class="far fa-trash-alt text-danger" (click)="onDelete(row.id)"></i>    
          </td>
        </tr>
      </tbody>
    </table>
