.carousel-html-content .carousel-cell{
    /* background: aliceblue; */
    // background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
    /* object-fit: cover; */
    flex: 1 0 auto;
}
.carousel-cell{
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
.top-between{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}