<div mat-dialog-content>
  
    <label id="example-radio-group-label" class="jumbotron py-2">Give Title To Member</label>
    
    </div>
    <mat-form-field class="full-width">
      <textarea [(ngModel)]="data.comment" matInput placeholder="Set Title Name..."></textarea>
    </mat-form-field>
    
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    </div>
