<h1>Terms of Service</h1>
<mat-divider></mat-divider>
<div class="subheader">
  <h5>Welcome!</h5>
<h5>
    Thank you for signing up with Rainobu!
</h5>
</div>
<div>
  <h5>Introduction</h5>
  <p>
    These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Rainobu accessible at rainobu.com.
    These Terms will be applied fully and affect your use of this Website. By using this Website and signing up with Rainobu.com, you agreed to accept all terms and conditions written here.
  </p>
</div>
<div>
  <h5>Service</h5>
  <p>
The service allows you to read and publish your original novels, comics, mangas as well as being the platform to help connect people around the world.
Restrictions
</p>
</div>
<div>
  You are specifically restricted from all of the following:
  <ul>
    <li>
      publishing any Website material in any other media;
    </li>
    <li>
      selling, sublicensing, and/or otherwise commercializing any Website material;
    </li>
    <li>
      publicly performing and/or showing any Website material;
    </li>
    <li>
      using this Website in any way that is or may be damaging to this Website;
    </li>
    <li>
      using this Website in any way that impacts user access to this Website;
    </li>
    <li>
      using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;
    </li>
    <li>
      engaging in any data mining, data harvesting, data extracting, or any other similar activity in relation to this Website;
    </li>
    <li>
      using this Website to engage in any advertising or marketing.
    </li>
  </ul>
<p>
  Certain areas of this Website are restricted from being accessed by
  you and Rainobu may further restrict access by you to any areas of
  this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.
</p>
</div>
<div>
  <h5>Your Content</h5>
  <p>
    In these Website Standard Terms and Conditions, “Your Content” shall mean any text, images, or other material you choose to display on this Website. If you have an account with us, you will be able to create and post your content on our website.
    Rights you Grant
    Your Content is still yours but by displaying them on our website, we do require that you grant us some of the rights to your work. These include worldwide, non-exclusive, royalty-free, sublicensable, and transferable licenses to use that Content (including to reproduce, distribute, prepare derivative works, display, and perform it).
    You will also grant the other users of our website a worldwide, non-exclusive, royalty-free license to access your work.
    Your Content must be your own and must not be invading any third-party's rights. Rainobu reserves the right to remove any of Your Content from this Website at any time without notice.
  </p>
</div>
<div>
 <h5> No warranties</h5>
 <p>
  This Website is provided “as is,” with all faults, and Rainobu expresses no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.
  Limitation of liability
  In no event shall Rainobu, nor any of its officers, directors, and employees shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract. Rainobu, including its officers, directors, and employees shall not be held liable for any indirect, consequential, or special liability arising out of or in any way related to your use of this Website.
  Indemnification
  You hereby indemnify to the fullest extent Rainobu from and against any and/or all liabilities, costs, demands, causes of action, damages, and expenses arising in any way related to your breach of any of the provisions of these Terms.
 </p>
</div>
<div>
<h5>Severability</h5>
<p>
  If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.
  Variation of Terms
  Rainobu is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms regularly.
</p>
</div>
<div>
<h5>Assignment</h5>
<p>
  The Rainobu is allowed to assign, transfer, and subcontract its rights and/or
   obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.

</p>

</div>
<div>
<h5>Entire Agreement</h5>
<p>
  These Terms constitute the entire agreement between Rainobu and you in relation to your use of this Website and supersede all prior agreements and understandings.
  Governing Law & Jurisdiction
  These Terms will be governed by and interpreted in accordance with the laws of Japan, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Japan for the resolution of any disputes.

</p>

</div>
