<mat-card class="mat-elevation-z0">
    <div class="main">
        <h5>{{row.storyName | titlecase }}</h5>
        <div class="image">
            <img src="{{row.imageUrl || './assets/images/blackcover.png'}}"
                loading="lazy"
                alt="{{row.storyName}}"  >
                <div class="meta" >
                    <span>{{row.publishedCreated | timeago}}
                        <!-- By {{row.authorName | titlecase}} -->
                    </span>
                    <!-- <span>By {{row.authorName | titlecase}}</span>
                    <mat-icon [inline]="true" class="is-new">edit</mat-icon> -->
                </div>
        </div>
        <div class="body">
            <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title">{{row.storyName| titlecase}}</span>
                <span class="spacer"></span>
            </div> -->
            <div class="top">
                <span> Chapter {{row.order}} : {{row.chapterName | titlecase}}</span>
                <!-- <p >{{row.content}}</p> -->
                <!-- <div [innerHtml] = "row.content | sanitizeHtml" class="text" style="margin-bottom: 0;"></div> -->
                <!-- <div [innerHtml] = {{row.content | sanitizeHtml}} class="text" style="margin-bottom: 0;"></div> -->
            </div>
            <div class="content">
                <!-- <div [innerHtml] = "row.content | sanitizeHtml" ></div> -->
                <p class="text">
                    {{createContent(row.content)}}
                </p>
            </div>
            <div class="spacer"></div>

        </div>
        <!-- <div class="rightCircle">
            <mat-icon [inline]="true" (click)="deleteHistory(row.storyId)">close</mat-icon>
          </div> -->
    </div>
   
</mat-card>
