.top-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    color: rgb(7, 7, 7);
    z-index: 9999;
    width: 100%;
}

.mat-card{
    margin-bottom: 2px;
    padding: 5px;
    cursor: pointer;
}
.example-spacer {
    flex: 1 1 auto;
  }