
        <div class="top-between">
          <h4>Recent Chapter</h4>
          <button mat-button color="primary" routerLink="/stories/recent">More..</button>
      </div>
      <mat-divider></mat-divider>
<div class="recentch"
      infinite-scroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="150"
      (scrolled)="onScroll()">

    <div *ngIf="chapters">
        <mat-card *ngFor="let row of chapters i as index"
            (click)="gotoChapter(row.storyName,row.order)"
            class="mat-elevation-z0" >
             <app-recent-card [row]="row"></app-recent-card>

        </mat-card>
    </div>
<div *ngIf = "!notEmptyPost" class="row pb-5 pt-5">
  <div class="col-md-12 d-flex justify-content-center">
    <div class="text-muted h6 alert alert-dark p-2">No More..</div>
  </div>
</div>
</div>
