<div class="search-results"
infinite-scroll
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="150"
(scrolled)="onScroll()">
<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Recent Chapter</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       <mat-icon>share</mat-icon>
     </button>
</mat-toolbar> -->
 
    <div *ngIf="chapters">
        <mat-card *ngFor="let row of chapters i as index" 
            (click)="gotoStory(row)"
            class="mat-elevation-z0"> 
             <app-recent-card [row]="row"></app-recent-card>

        </mat-card> 
    </div>
<div *ngIf = "!notEmptyPost" class="row pb-5 pt-5">
  <div class="col-md-12 d-flex justify-content-center">
    <div class="text-muted h6 alert alert-dark p-2">No More News</div>
  </div>
</div>
</div>
