.header{
    position:absolute;
    top: 64px;
    background-color: #47bbec;
    width: 100%;
    height: 56px;
    left: 0;
}
.top-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    color: rgb(7, 7, 7);
    z-index: 9999;
    width: 100%;
}
.example-spacer {
    flex: 1 1 auto;
  }
mat-card{
    cursor: pointer;
}
.mat-card{
    margin-bottom: 2px;
    padding: 2px;
}
input[type=text]{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
     border-radius: 0;
     border: 1px solid #c5c5c5;
     color: #2780e3;
     padding-left: 10px;
    }

    ::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
        padding: 0.4em 0px !important;
    }
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; padding-bottom: 0; }
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.1em) scale(.75);
        width: 133.33333%;
    }