.header{
    position:absolute;
    top: 64px;
    background-color: #47bbec;
    width: 100%;
    height: 56px;
    left: 0;
}
.top-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    color: rgb(7, 7, 7);
    z-index: 9999;
    width: 100%;
}
.example-spacer {
    flex: 1 1 auto;
  }
mat-card{
    cursor: pointer;
}
.mat-card{
    margin-bottom: 2px;
    padding: 2px;
}