<div class="dialog">
  <button mat-icon-button  aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
<!-- <div mat-dialog-title class="dialog-title">

    <span></span>

  </div> -->

<mat-dialog-content>
  <!-- This is advertisement Rainobu -->
  <!-- <ins class="adsbygoogle"
      style="display:inline-block;width:728px;height:90px"
      data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"
      data-ad-slot="XXXXXXXXXXXXXXXX"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script> -->
  <div class="ads" *ngIf="data.descriptions"
      innerHtml = "{{data.descriptions}}">
  </div>
  <!-- <div *ngIf="data.descriptions.length == 0">
    <img [src]= "data.url">
  </div> -->
</mat-dialog-content>
<!-- <mat-dialog-actions>

</mat-dialog-actions> -->
</div>
