<div mat-dialog-title class="dialog-title">
    <h2>Advertisement Rainobu</h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

<mat-dialog-content>
  <!-- This is advertisement Rainobu -->
  <!-- <ins class="adsbygoogle"
      style="display:inline-block;width:728px;height:90px"
      data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"
      data-ad-slot="XXXXXXXXXXXXXXXX"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script> -->
  <div class="ads">
    <h4>{{data.title}}</h4>
    <img [src]= "data.url">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
    
</mat-dialog-actions>
