<!-- <h4>Story</h4> -->
<div class="top-between">
      <h3>Your Stories</h3>
      <button mat-flat-button color="accent"
        (click) = "ChangeForm()">
        <i class="fas fa-plus"></i> Create A Story
      </button>
 </div>
 
    <ng-container *ngIf="storyService.list.length > 0;then first else second"></ng-container>
    <ng-template #first>
          <mat-tab-group mat-tabs #tabGroup>
      <mat-tab label="Stories" >
        <mat-card class="container">
            <mat-table [dataSource]="storyService.list" class="mat-elevation-z0">
                <ng-container matColumnDef="imageUrl">
                  <mat-header-cell *matHeaderCellDef >Name</mat-header-cell>
                  <mat-cell *matCellDef="let item" >
                    <img [src]="item.imageUrl?item.imageUrl:'./assets/images/blackcover.png'" loading="lazy"/>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="storyName">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'w-250'"></mat-header-cell>
                  <mat-cell *matCellDef="let item" [ngClass]="'w-250'">
                    {{item.storyName | titlecase}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                  <mat-cell *matCellDef="let item">
                    {{item.type | titlecase}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="chapters">
                  <mat-header-cell *matHeaderCellDef>Total Chapter</mat-header-cell>
                  <mat-cell *matCellDef="let item">
                    {{item.totalChapter}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="getState">
                  <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                  <mat-cell *matCellDef="let item">
                    {{item.getState}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="rating">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'w-50'">Rating</mat-header-cell>
                  <mat-cell *matCellDef="let item" [ngClass]="'w-50'">
                    {{item.rating}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="views">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">Views</mat-header-cell>
                  <mat-cell *matCellDef="let item" [ngClass]="'w-100'">
                    {{item.views}}
                  </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="deleted">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">Deleted</mat-header-cell>
                  <mat-cell *matCellDef="let item" [ngClass]="'w-100'">
                    {{item.deleted}}
                  </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'w-150'"></mat-header-cell>
                  <mat-cell *matCellDef="let item" [ngClass]="'w-150'">
                    <button class='btn btn-outline-primary btn-sm '>
                      <i class="fas fa-search"></i> EXPLORE  </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
                <mat-row
                  mat-row
                  (click)="populateForm(row)"
                  [ngClass]="{'highlight': row.deleted}" 
                  *matRowDef="let row; columns: displayedColumns;"
                  ></mat-row>
                <!-- <mat-row [ngClass]="{'make-red': row.deleted}" 
                  *matRowDef="let row; columns: displayedColumns;">
                </mat-row> -->

            </mat-table>
        </mat-card>
      </mat-tab>
  </mat-tab-group>
    </ng-template>
    <ng-template #second>
        <mat-card>
           <mat-card-header>
              <mat-card-title>
                Hey! You haven't uploaded any stories yet.
              </mat-card-title>
           </mat-card-header>
           <mat-card-content>
             <!-- <p>
              I’ve never written a novel or drawn a manga before and this is my first time… then we have only 1 answer then. MAKE. YOUR. DREAMS. COME. TRUE. Write/draw and take a leap of faith. Don’t worry about it being your first time.
            </p>
            <span>We are cheering you on!</span> -->
           </mat-card-content>
        </mat-card>
    </ng-template>

