<!-- <h4>Story</h4> -->
<div class="tab-panel">
    <button type="button" class="btn btn-outline-primary Header" 
        (click) = "ChangeForm()">
        <i class="fas fa-plus"></i> Create A Story
      </button>
    <tabset class="member-tabset">
        <tab heading='Stories'>
            <div class="container">
                <div class="row">
                  <ng-container *ngIf="storyService.list.length > 0;then first else second"></ng-container>
                    <ng-template #first>
                      <table class="table table-borderless">
                        <thead>
                            <tr>
                              <th>Image/StoryName</th>
                              <th>Type</th>
                              <th>Chapters</th>
                              <th>State</th>
                              <th>Rating</th>
                              <th>Views</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let row of storyService.list">
                              <!-- <p>{{row | json}}</p> -->
                              <td><img src= "{{row.imageUrl?row.imageUrl:'./assets/images/blackcover.png'}}" alt={{row.storyName}} >
                                {{row.storyName}} 
                              </td>
                              <td>{{row.type}}</td>
                              <td>{{row.totalChapter}}</td>
                              <td>{{row.state}}</td>
                              <td>{{row.rating}}</td>
                              <td>{{row.views}}</td>
                              <td>
                                <!-- <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(row.id)"></i> -->
                                <button (click)="populateForm(row)" class='btn btn-outline-primary btn-sm '><i class="fas fa-search"></i> EXPLORE  </button>
                              </td>
                            </tr>
                          </tbody>
                    </table>
                    </ng-template>
                    <ng-template #second>
                        <div class="text-center p-5">
                          <p>
                          I’ve never written a novel or drew a manga before and this is my first time… Ah… then we have only 1 answer then. 
                          <b>MAKE. YOUR. DREAMS. COME. TRUE.</b> Write/Draw and take a leap of faith. Don’t worry about it being your first time. Hey… check out this cool quote by a wise spider;“It’s just a leap of faith.”
                        </p>
                        </div>
                        
                    </ng-template>

                  </div>
            </div>
        </tab>

    </tabset>
</div>
