<div class="search-results"
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScroll()">
    <div class="column pt-2">
        <div class="col-md-12 p-1" *ngFor="let content of allContent index as i">
        <mat-card class="card mat-elevation-z0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 publish">
                    <span class="card-title text-center ">Chapter : {{content.order}}</span><span *ngIf="content.endChapter"> (End)</span>
                </div>
                <div class="col-md-5">
                    <span>{{content.chapterName | titlecase}}</span>
                </div>
                <div class="col-md-4 publish">
                    <span>Published on {{content.publishedCreated | date:'d/MM/yyyy, h:mm a'}}</span>
                </div>
                <div class="col-md-1">
                    <mat-button (click)="clickedRows(content.order)">
                        <mat-icon class="material-icons-outlined">find_in_page</mat-icon></mat-button>  
                </div>
            </div>
        </div>
        </mat-card>
    </div>
</div>
<!-- sinner -->
<!-- <div class="row pb-5">
    <div class="col-md-12 p-5">
    <ngx-spinner
    bdOpacity = 0.9
    bdColor = ""
    size = "default"
    color = "#581f87"
    type = "ball-pulse-sync"
    [fullScreen] = "false"
    >
    </ngx-spinner>
  </div>
</div> -->
<!-- <div *ngIf = "notEmptyPost" class="row pb-5">
    <div class="col-md-12 d-flex justify-contetn-center">
        <div class="text-muted h6 alert alert-secondary p-2">Scroll More</div>
    </div>
</div> -->
<!-- Alert no more post -->
<div *ngIf = "!notEmptyPost" class="row pb-5 pt-5">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="text-muted h6 alert alert-secondary p-2">No more Chapter</div>
    </div>
</div>