.container{
    /* height: calc(100vh - 200px); */
    height: 480px;
}
.commentlist{
    height: 120px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:0px 5px 0px 5px;
    /* border:solid 1px; */
}
.comment{
    padding:0px 5px 0px 5px;

}
.rounded-circle {
    max-height: 40px;
    border:2px solid #e5e7e8;
}

.example-full-width {
    width: 100%;
 }
.mat-button{
    /* background-color: red; */
    padding: 0;
    color:lightslategrey;
}
 #rconners1 {
    border-radius: 10px;
    background: #f3f8fc;
    padding: 10px;
    overflow: hidden;
  }

.main {
    position: relative;
    width:100%;
}
.left{
    padding-right: 1rem;
    width: 40px;
}
.right{
    padding:2px 1rem 2px 1rem;
}
.created {
    position:absolute;
    top:0.2rem;
    right:1rem;
    justify-content: end;
}


