// .container{
//    height: calc(100vh - 200px);
//     /* height: 480px; */
//     /* width: 100%; */
// }
.viewport{
   height: 100%;
}
.view-item{
    height: 120px;
    // padding:0 5px;
}
// div .view-item .commentlist:empty{
//     display: none;
// }
.commentlist{
    display: flex;
    flex-direction: column;
    /* height: 150px; */
    /* width: 100%; */
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    /* padding:0px 5px 0px 5px; */
    overflow-y: visible;
    /* border:solid 1px; */
    box-sizing: border-box;
    
}
.commentlist p{
    margin-bottom:0;
}
.commentlist:empty{
    display: none;
}
.comment{
    padding:0px 5px 0px 5px;

}
.rounded-circle {
    max-height: 40px;
    border:2px solid #e5e7e8;
}

/* .example-full-width {
    width: 100%;
 } */
.mat-button{
    /* background-color: red; */
    padding: 0;
    color:lightslategrey;
}
 #rconners1 {
   // border-radius: 15px;
    // border:#818181 solid 1px;
    // background: #484848;
    //margin-top: -32px;
   // margin-left: -3px;
    padding-top: 5px;
   // padding-left: 15px;
    //padding-right: 15px;
    //@at-root: 10px;
    overflow: hidden;
    z-index: 1;
    /* padding: 0px 0.5rem 0px 0.5rem; */
  }
  #showtime{
    position:absolute;
    top:-35px;
    right:10px;
    z-index: 2;
  }
.left{
    padding-top: 2px;
    padding-right: 5px;
    /* width: 40px; */
    z-index: 2;
    overflow-y: visible;
}
.right{
    position: relative;
    top: -10px;
    margin-left: 45px;
    padding:2px 2px 2px 0px;
    width: auto;
    z-index: 1;
}
.righttop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0.5rem 0px 0.5rem;
}
.created {
    position:absolute;
    top:0.2rem;
    right:1rem;
    justify-content: end;
}
.togglePanel{
    height: 200px;
}
.empty{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
.viewport-header{
    height: 30px;
    opacity: 0.5;
    // background: lightgray;
}
// .spinner-item {
//     display: grid;
//     place-items: center;
//     margin-top: 10px;
// }
cdk-virtual-scroll-viewport {
    // height: calc(100vh - 160px);
    li {
      height: 100px;
    }

    // Bonus points
    &::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }
  
    &::-webkit-scrollbar-track {
        background-color: rgb(44, 44, 44,0) !important;
      
    }
  
    &::-webkit-scrollbar-thumb {
        
        border-radius: 5px;
         background: rgb(232, 232, 232) !important;
    }
  }