
<div class="section-nav  sidebar">
<mat-card class="header mat-elevation-z0">
         <span>
             <h5>Table of Contents</h5>
         </span>   
         <span>
            <mat-icon style="cursor: pointer;"
                (click)="toggle($event)" >close</mat-icon>
         </span>
</mat-card>      
    <mat-divider></mat-divider>
<mat-card class="mat-elevation-z0 m-0 p-1" style="height: 100vh;">
    <mat-card-content class="content">
        <cdk-virtual-scroll-viewport itemSize="10" class="container">
        <div *cdkVirtualFor="let list of chapterList index as i" class="item ">
            <a  spyOn="{{list.order}}"
                activeClass="sidebar__link--active" 
                class="sidebar__link truncate" 
                (click)="goTo(list.order)">Chapter {{list.order}} {{list.chapterName | titlecase}}
            </a>
        </div>
        </cdk-virtual-scroll-viewport>
    </mat-card-content>
    
</mat-card>   
</div>
 
