:host ::ng-deep html {
  scroll-behavior: smooth;
}
/* .vl {
  border-left: 1px solid lightslategrey;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
} */
.Read-Container{
    height:100%;
    margin-right: -30px;
    margin-left: -30px;
    padding-left: 30px;
    // background-color: rgb(255, 255, 255); 
    justify-content: center;
}

.title{
  padding-top: 30px;
  text-align: center;
}
.title img{
  width: 35%;
}
.title h4{
  margin-top: 5;

}
.title p{
  color: lightgray;
}
.chapter{
  min-height: 100vh;
}
.card img{
  margin-left: auto;
  margin-right: auto;
}
.card .text_up{
  position:absolute;
  top:25%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color:rgb(243, 239, 239);
  width: 90%;
  word-wrap: break-word;
  z-index: 999;
}
.card #benmark{
  position : absolute;
  bottom: 20%;;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color:rgb(175, 175, 175);
  z-index: 9999;
}
.mat-divider{
  left: -2rem;
}
.section-nav {
  position: sticky;
  padding-top: 0;
  padding-left: 3px;
  top: 64px;
  /* margin-left: 1rem; */
  /* margin-right:  -30px; */
  width: 100%;
  overflow-y:scroll;
  overflow-x: hidden;
  height: 100vh;
  align-self: start;
  // border-left: 1px solid rgb(218, 223, 228);
  box-sizing: border-box;
}
.section-nav .header{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 0;
  position:sticky;
  top:0px;
  right:-30px;
  z-index: 4;
}
.font-type{
  padding: 10px;
}
.red{
  background-color: rgb(175, 175, 175);
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
  padding-bottom: 1rem;
  align-items: baseline;
  height: 50px;
  font-family: montserrat;

}
.rightCircle{ 
  text-align: center;
  align-items: center;
  width:20px; 
  height:20px; 
  border-radius:50%; 
  color: #ccc; 
  font-size: 1.5rem;
  /* background-color: royalblue; */
  /* right:0.5rem; 
  top:-0.5rem;
  z-index: 999; */
}
.rightCircle :hover{
  cursor: pointer;
  color:#666;
}
.title h5 {

  width: 90%;
  margin: 2em auto;
  overflow: hidden;
  text-align: center;
  font-weight:300;
  color: lightgray;
}
.title h5:before, .title h5:after {
  content: "";
  display: inline-block;
  width: 80%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
.title h5:after {
  margin: 0 -55% 0 .5em;
}
.paper{
  background-color: #fffaf0;
}

.chapter h5 {

  width: 90%;
  margin: 2em auto;
  overflow: hidden;
  text-align: center;
  font-weight:300;
  color: lightgray;
}
.chapter h5:before, .chapter h5:after {
  content: "";
  display: inline-block;
  width: 80%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
.chapter h5:after {
  margin: 0 -55% 0 .5em;
}

.bodysetting{
 padding-left: 2rem;
 padding-top: 2rem;
}
/* :host ::ng-deep body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
} */
/* ::ng-deep body::-webkit-scrollbar {
  width: 1rem;
}

::ng-deep body::-webkit-scrollbar-track {
  background: #1e1e24;
}

::ng-deep body::-webkit-scrollbar-thumb {
  background: #6649b8;
} */

.navbar {
  position: fixed;
  // background-color: var(--bg-primary);
  background-color: #23232e;
  transition: width 600ms ease;
  overflow: scroll;

}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}


.nav-link {
  display: flex;
  align-items: flex-start;
  height: 2rem;
  color: white;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  margin-top: 1rem;
  
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: #ececec;
  width: 100%;
  cursor: pointer;
}

.link-text {
  display: none;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.nav-link svg {
  width: 1.5rem;
  min-width: 1.5rem;
  margin: 0 0rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}


/* Small screens */
@media only screen and (max-width: 600px) {

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: flex-start;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {

  .navbar {
    top: 0;
    right:0;
    width: 3rem;
    height: 100vh;
  }
  .nav-item{
    justify-items: center;
  }
  .navbar:hover {
    width: 12rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }


}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
/* .card .text_up{
  position : absolute;
  top:25%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color:white;
  width: 90%;
  word-wrap: break-word;
  
} */

