<div class="Read-Container">
<div fxLayout="row" fxLayoutAlign="center stretch" *ngIf="showstory" >
    <div class="d-flex flex-column" fxFlex.gt-md="70" fxFlex.lt-md="100">
        <mat-card class="title mat-elevation-z0">
            <div style="border: 0px;">
            <ng-container *ngIf="showstory.imageUrl;then first else second"></ng-container>
            <ng-template #first>
                <img src="{{showstory.imageUrl}}"
                (click)="gotoStory(showstory.storyName)"
                alt="{{showstory.storyName}}" 
                class="card-img-top">
            </ng-template>
            <ng-template #second>
                  <img src="./assets/images/blackcover.png"
                    alt="{{showstory.storyName}}" 
                    (click)="gotoStory(showstory.storyName)"
                    class="card-img-top">
                <div class="text_up">
                    <h4>{{showstory.storyName | titlecase }}</h4>
                </div>
                <div id="benmark">
                    <span>{{showstory.userName}}</span>
                    <h4>&copy; Rainobu</h4>
                </div>
            </ng-template>
          </div>
            <div class="mt-4">
              <button mat-button (click)="gotoStory(showstory.storyName)">
                <h4>{{showstory?.storyName | titlecase}}</h4>
              </button>
            </div>
            <p><b>Author : </b>{{showstory?.userName}}</p>
            <h5>&copy; Rainobu</h5>
        </mat-card>
        <div class="search-results"
            infinite-scroll
            [infiniteScrollDistance]="0.5"
            [infiniteScrollUpDistance]="1.5"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScrollDown()">
          <div  *ngFor="let chapter of chapterList index as i" [attr.Id]='i+1'
              spyTarget="{{chapter.order}}" style="margin-bottom: 50px;"> 
                <div #content class="chapter">
                  <!-- {{chapter | json}} -->
                  <app-show-achapter 
                      [chapter] = 'chapter'
                      [index]='i+1'
                      [fontName]='fontNow'
                      [fSize]='fSize'>
                  </app-show-achapter> 
                  <mat-divider></mat-divider>
                  <mat-card class="mat-elevation-z0" *ngIf="user">
                      <mat-card-content>
                        <button mat-button>
                          <like [likeCount]="chapter.likeChapter.length"
                        [isActive]="chapter.likeChapter.includes(user.username)"
                        (commentId)="addLikeChapter(chapter.id)"></like>
                        </button>
                      </mat-card-content> 
                  </mat-card>
                </div>
                
                <!-- Ads Rainobu -->
                <div class="ads" *appGetRole='["VIP"]'>
                  <img *ngIf="bannerchapter" src={{bannerchapter.url}}>
                </div>
                <!-- <h5>&copy; Rainobu</h5> -->
          </div>  
        </div>  
        <!-- sinner -->
    <!-- <div class="row pb-5">
      <div class="col-md-12 p-5">
      <ngx-spinner
      bdOpacity = 0.9
      bdColor = ""
      size = "default"
      color = "#581f87"
      type = "ball-pulse-sync"
      [fullScreen] = "false"
      >
      </ngx-spinner>
    </div>
    </div> -->
    <!-- Alert no more post -->
    <div *ngIf = "!notEmptyPost" class="row pb-5">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="text-muted h6 alert alert-secondary p-2">No more Chapter</div>
      </div>
    </div> 
    </div> 
    <div @slidex fxFlex="30"  fxHide.xs *ngIf="ShowTableContent" >
        <app-nav-sidebar [storyName] = 'showstory.storyName'
             (target)="goTo($event)"       
            (Show)="toggletableContents($event)"></app-nav-sidebar>
    </div>
    <div @slidex fxFlex="30" fxHide.xs *ngIf="ShowCommentChapter" >
      <div class="section-nav" >
        <mat-card class="header mat-elevation-z0">
          <h5>Chapter Comment<span>&nbsp;&nbsp; {{current}}</span></h5> 
          
          <div class="rightCircle">
              <mat-icon (click)="toggleCommentChapter()" >close</mat-icon>
          </div>
        </mat-card >
        <mat-card class="p-0 mat-elevation-z0" >
          <app-comment [comments]="comments" *ngIf="user"
                    [commentChapter]="commentChapter"></app-comment>
          <div class="memberarea">
            <span><mat-icon>groups</mat-icon></span>
            <h5 *ngIf="!user">Members’ area</h5>
          </div>
        </mat-card>
        
        </div>
    </div>
    <div @slidex fxFlex="30" fxHide.xs *ngIf="ShowComment" >
      <div class="section-nav" >
        <!-- <div class="header">
          <h5>Novel Comment</h5> 
          <div class="rightCircle">
              <mat-icon (click)="toggleComment()" >close</mat-icon>
          </div>
        </div> -->
        <mat-card class="header mat-elevation-z0">
                  <h5>Novel Comment</h5>
                  <div class="rightCircle">
                    <mat-icon (click)="toggleComment()" >close</mat-icon>
                </div>
        </mat-card>
        <mat-card class="p-0 mat-elevation-z0">
            <mat-card-content>
              <app-comment *ngIf="user" [comments]="comments"></app-comment>
              <div class="memberarea">
                <span><mat-icon>groups</mat-icon></span>
                <h5 *ngIf="!user">Members’ area</h5>
              </div>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div @slidex fxFlex="30" fxHide.xs *ngIf="ShowSetting" >
      <div class="section-nav" >
        <!-- <div class="header">
          <h5>Settings</h5> 
          <div class="rightCircle">
              <mat-icon (click)="toggleSetting()" [inline]="true">close</mat-icon>
          </div>
        </div> -->
        <mat-card class="header mat-elevation-z0">
          <h5>Settings</h5> 
          <div class="rightCircle">
              <mat-icon (click)="toggleSetting()" [inline]="true">close</mat-icon>
          </div>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card class="p-0 mat-elevation-z0" style="height:90vh;">
          <div class="bodysetting">
           <span class="pr-3">Font Size </span>
          <button mat-mini-fab color="primary" (click)="increase()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="decrease()">
            <mat-icon>remove</mat-icon>
          </button>
          </div>
          <div class="font-type">
            <mat-list style="cursor: pointer;">
              <mat-list-item *ngFor="let font of fontType"
                  (click)="onFontSelected(font.value)"
                  [ngClass]="{red: font.value === fontNow}">
                  {{font.name}}
              </mat-list-item>
           </mat-list>
          </div>
        </mat-card>
      </div>
    </div>
<div>
    <nav class="navbar" fxLayout fxHide.lt-md>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)=toggletableContents()>
              <mat-icon>list</mat-icon>
              <span class="link-text">Table Of Contents</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" (click)=toggleCommentChapter()>
              <mat-icon>insert_comment</mat-icon>
              <span class="link-text">Chapter Comment</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)=toggleComment()>
              <mat-icon>question_answer</mat-icon>
              <span class="link-text">Novel Comment</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)=toggleSetting()>
              <mat-icon>settings</mat-icon>
              <span class="link-text">Settings</span>
            </a>
          </li>
        </ul>
    </nav>
</div>