<div class="Read-Container">
<div fxLayout="row" fxLayoutAlign="center stretch" *ngIf="showstory" >
    <div class="d-flex flex-column" [fxFlex] >
        <div class="title">
            <img 
            src="{{showstory?.imageUrl}}" 
            alt="{{showstory?.storyName}}"
            class="card-img-top img-thumbnail">
            <div class="mt-4"><h4>{{showstory?.storyName}}</h4></div>
            <p><b>Author : </b>{{showstory?.userName}}</p>
            <h5>&copy; Rainobu</h5>
        </div>
        
        <!-- <div 
            *ngFor="let chapter of chapterList index as i" [attr.Id]='i+1'
            spyTarget="Chapter-{{i+1}}" style="margin-bottom: 50px;"> 
                <app-show-achapter 
                    [chapter] = 'chapter'
                    [index]='i+1'>
                </app-show-achapter> 
                <h5>&copy; Rainobu</h5>
        </div>      -->
        <div 
            *ngFor="let chapter of chapterList index as i" [attr.Id]='i+1'
            spyTarget="{{chapter.id}}" style="margin-bottom: 50px;"> 
              <div class="chapter">
                <app-show-achapter 
                    [chapter] = 'chapter'
                    [index]='i+1'>
                </app-show-achapter> 
                <h5>&copy; Rainobu</h5>
              </div>
        </div>     
    </div> 
    <div fxFlex="30" fxLayout fxHide.xs *ngIf="ShowTableContent" >
        <nav class="section-nav" >
          <div class="header"><h5>Table of Contents</h5> 
            <div class="rightCircle">
                <mat-icon (click)="toggletableContents()" [inline]="true">close</mat-icon>
            </div>
          </div>
            <app-nav-sidebar [chapterList] = "chapterList" 
             (target)="goTo($event)"       
            (Show)="toggletableContents($event)"></app-nav-sidebar>
        </nav>
    </div>
    <div fxFlex="30" fxHide.xs *ngIf="ShowComment" >
      <div class="section-nav" >
        <div class="header"><h5>Chapter Commnet</h5> 
          <div class="rightCircle">
              <mat-icon (click)="toggleComment()" [inline]="true">close</mat-icon>
          </div>
        </div>
        <app-comment [comments]="comments"
                    [commentChapter]="commentChapter"></app-comment>
      </div>
  </div>
<div>
    <nav class="navbar" fxLayout fxHide.xs>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)=toggletableContents()>
              <mat-icon>list</mat-icon>
              <span class="link-text">Table Of Contents</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" (click)=toggleComment()>
              <mat-icon>insert_comment</mat-icon>
              <span class="link-text">Comment</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <mat-icon>settings</mat-icon>
              <span class="link-text">Settings</span>
            </a>
          </li>
        </ul>
    </nav>
  </div>