    <div class="pt-2 pb-2 pl-2 pr-2">
      <form fxLayout="row" 
          (ngSubmit)="onSubmit()" [formGroup]="commentForm">
          <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <input formControlName="content" matInput  autocomplete="off"
                placeholder="Ex. It makes me feel..." />
          </mat-form-field>
          <mat-action-list fxFlexAlign="start">
            <button type="submit" mat-raised-button [disabled]="commentForm.value.content==''">
              <i class="fas fa-paper-plane fa-lg"></i></button>
          </mat-action-list> 
      </form>
      </div>
      <!-- <div class="comment">
        <app-comment-pop [username]="username" (message)="onSubmit($event)"></app-comment-pop>
      </div> -->
      <app-comment-list [commentChapter]="commentChapter"></app-comment-list>
    
    
  
