<table class="table table-borderless">
    <thead>
        <tr>
            <th>Order</th>
          <th>Chapter Name</th>
          <th>Published</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let row of storyChapterService.list" >
            <td>{{row.order}}</td>
          <td>{{row.chapterName}}</td>
          <!-- <td>{{row.content}}</td> -->       
          <!-- <td>{{(row.publishedCreated | date:'short') || "Waiting to Publish"}}</td> -->
          <!-- <td>{{row.publishedId !== "00000000-0000-0000-0000-000000000000"? (row.publishedCreated | date:'short' ): "Waiting to Publish"}}</td> -->
          <td>{{row.publishedCreated !== "0001-01-01T00:00:00"? (row.publishedCreated | date:'short' ): "Waiting to Publish"}}</td>
         
          <td>
            <button (click)="populateForm(row)" class='btn btn-primary btn-sm '><i class="fas fa-edit"></i> EDIT</button>
            <button (click)="publish(row)" class='btn btn-success btn-sm '><i class="fas fa-check"></i> PUBLISH</button>           
          </td>
        </tr> 
      </tbody>
</table>
